:root {
  --bg-color: #09090b;
  --card-bg: #18181b;
  --btn-bg: #27272a;
  --btn-border: #3f3f46;
  --text-main: #e4e4e7;
  --text-dim: #a1a1aa;
  --accent: #eab308;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  font-size: 14px;
  font-weight: 600;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
input[type="text"],
select {
  background: transparent;
  color: inherit;
  border: none;
  text-align: center;
  font-size: inherit;
  width: 100%;
  outline: none;
}
select {
  height: 100%;
  appearance: none;
}
input[type="color"] {
  appearance: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
.card {
  background-color: var(--card-bg);
  border: 1px solid var(--btn-border);
  border-radius: 8px;
  padding: 6px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-border);
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
  transition:
    filter 0.1s,
    transform 0.1s;
  width: 100%;
}
.btn:active {
  filter: brightness(1.3);
  transform: scale(0.98);
}
.btn-score {
  height: 75px;
  font-size: 20px;
  background-color: #ffffff;
  color: #000000;
}
.btn-ctrl {
  height: 50px;
  font-size: 14px;
}
.btn-top {
  height: 40px;
  background-color: #000;
}
.btn-active {
  background-color: var(--accent);
  color: black;
  border-color: var(--accent);
}
.btn-accent {
  background-color: var(--accent);
  color: black;
  border: none;
}
.disp-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 24px;
  height: 40px;
}
.disp-sm {
  height: 50px;
  border: 1px solid var(--btn-border);
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Configuration Styles */
details summary {
  cursor: pointer;
  color: var(--text-dim);
  font-size: 11px;
  padding: 6px;
  border: 1px solid var(--btn-border);
  border-radius: 4px;
  background: var(--card-bg);
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active-set {
  color: var(--accent);
  border-color: var(--accent);
}
.m-shadow {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.3);
}
.text-label {
  color: var(--text-dim);
  font-size: 12px;
  text-transform: uppercase;
}
.conf-label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-dim);
  font-size: 10px;
  background: #000;
  border-radius: 4px;
}
.conf-input {
  background: #000;
  border-radius: 4px;
  height: 36px;
}
.status-text {
  font-weight: 800;
  text-transform: uppercase;
}
