body {
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.team-column {
  flex: 1 1 50%;
  flex-direction: column;
  max-width: 50vw;
}

/* Center large score in the 88% area, pulling up slightly for optical centering */
.score-container {
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.set-score {
  font-size: 60vh;
  font-weight: 900;
  transform: translateY(4vh)
}

.info-bar {
  height: 12vh;
  font-weight: 800;
  display: flex;
}

.match-box {
  width: 9vw;
  background: rgba(0, 0, 0, 0.3);
  font-size: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-name {
  font-size: 7vh;
  text-transform: uppercase;
  flex: 1;
  text-align: center;
  align-self: center;
  white-space: nowrap;
}

.serve-box {
  width: 9vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serve-img {
  height: 8vh;
  width: 8vh;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

::-webkit-scrollbar {
  display: none;
}
