<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.eerimoq.Mobs</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moblin</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Moblin live streams video from the camera.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Moblin live streams audio from the microphone.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Moblin shows selected images as overlays.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Moblin shows selected images as overlays.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Moblin uses localhost as input and output to SRT library.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
