<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.eerimoq.Mobs</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moblin</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_moblink._tcp</string>
	</array>
	<key>NSCameraReactionEffectsEnabled</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>IntentIntent</string>
		<string>MuteIntent</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleExternalDisplayNonInteractive</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>External Display</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
		<string>bluetooth-central</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>WiFiAwareServices</key>
	<dict>
		<key>_moblin._udp</key>
		<dict>
			<key>Publishable</key>
			<dict/>
			<key>Subscribable</key>
			<dict/>
		</dict>
	</dict>
</dict>
</plist>
