[Unit]
Description=MOBS Kick channel id
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=mobs
ExecStart=/usr/bin/python3 /home/mobs/mobs/server/kick_channel_id.py
WorkingDirectory=/home/mobs
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target