#include "Base.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = $(BASE_PRODUCT_BUNDLE_IDENTIFIER)
CODE_SIGN_ENTITLEMENTS = Moblin/Moblin.$(CAPABILITIES).entitlements

ENABLE_MULTIPLE_SCENES = 1
ENABLE_MULTIPLE_SCENES[sdk=macosx*] = 0

INFOPLIST_PREPROCESS = YES
INFOPLIST_OTHER_PREPROCESSOR_FLAGS = -DENABLE_MULTIPLE_SCENES=$(ENABLE_MULTIPLE_SCENES)
