name: All

on:
  push:
  pull_request:

jobs:
  all:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Source code styling
        run: |
          make style-check
      - name: Linting
        run: |
          make lint
      - name: Build
        run: |
          xcodebuild -scheme Moblin -skipPackagePluginValidation build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
